[delta "arctic-fox"]
  # author: https://github.com/anthony-halim
  dark = true
  syntax-theme = Monokai Extended
  file-added-label = [+]
  file-copied-label = [==]
  file-modified-label = [*]
  file-removed-label = [-]
  file-renamed-label = [->]
  file-style = omit
  hunk-header-decoration-style = "#5E81AC" ul
  hunk-header-file-style = blue ul bold
  hunk-header-line-number-style = yellow box bold
  hunk-header-style = file line-number syntax bold italic
  plus-style = syntax "#002600"
  plus-emph-style = black green
  minus-style = syntax "#3A0800"
  minus-emph-style = black red
  line-numbers = true
  line-numbers-minus-style = brightred
  line-numbers-plus-style = brightgreen
  line-numbers-left-style = "#5E81AC"
  line-numbers-right-style = "#5E81AC"
  line-numbers-zero-style = "#4C566A"
  zero-style = syntax
  whitespace-error-style = black bold
  blame-code-style = syntax
  blame-format = "{author:<18} {commit:<6} {timestamp:<15}"
  blame-palette = "#2E3440" "#3B4252" "#434C5E"
  merge-conflict-begin-symbol = ~
  merge-conflict-end-symbol = ~
  merge-conflict-ours-diff-header-style = yellow bold
  merge-conflict-ours-diff-header-decoration-style = "#5E81AC" box
  merge-conflict-theirs-diff-header-style = yellow bold
  merge-conflict-theirs-diff-header-decoration-style = "#5E81AC" box

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  light = false
  features = arctic-fox
  side-by-side = true
  true-color = always

[diff]
  colorMoved = default

[pull]
  rebase = false

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[alias]
  ch = checkout
  ci = commit -am
  s = status
  a = add .
  m = merge
  d = diff
  p = pull
  pp = push
  f = fetch

  lg = lg1
  lg1 = lg1-specific --all
  lg2 = lg2-specific --all
  lg3 = lg3-specific --all

  lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
  lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

[init]
  templatedir = ~/.config/git/templates
	defaultBranch = master

[push]
  autoSetupRemote = true

[user]
	email = kacper.rogowski@vml.com
	name = Kacper Rogowski

[help]
	autocorrect = prompt

[diff "image"]
    textconv = imgcat

[merge]
  conflictstyle = diff3
	tool = nvimdiff3

[mergetool "nvimdiff3"]
  cmd = nvim -f -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\"

[mergetool]
  prompt = false
[pager]
	diff = diffnav
