snippet ex "export * from ..."
  export * from "./${1:filename}";

snippet exd "export default from ..."
  export { default } from "./${1:filename}";

snippet ctype "component type"
  export type ${1:typeName}Props = {
  }

snippet testv "testing with vitest"
  import { expect, test, describe } from 'vitest'
  import { ${1} } from "./${1}";

  describe("@name/${1}", () => {
    test("${1}", () => {
      ${0}
    });
  })
