layout {
    pane split_direction="vertical" {
      pane {
        cwd "~/Desktop/Projects/e.on/zebra-fe"
        name "dev:zebra"
      }
      pane {
        cwd "~/Desktop/Projects/e.on/anakonda-fe" 
      }
    }
  }
}
